<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MERCADO LIEBRE</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/normalize.css">
    <script src="https://kit.fontawesome.com/e49cfd628c.js" crossorigin="anonymous"></script>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/CSS/styles.css">

</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="/images/logo-mercado-liebre.svg" class="logo" srcset="">
            <div class="barra-de-busqueda">
                <input placeholder="Buscar productos, marcas..."></input>
                <button>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            <h2 class="copy-header">
                <i class="fa solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>


        <a href="#" class="burger-menu">
            <i class="fas fa-bars"></i>
        </a>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right navbar">
                <li><a href="/register.html">Crea tu cuenta</a> <i class="fa-solid fa-id-card"></i></li>
                <li><a href="/login.html">Ingresá</a> <i class="fa-solid fa-arrow-right-to-bracket"></i></li>
                <li><a href="#">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>

        <nav class="main-header-bottom-bar"></nav>

    </header>

    <form action="" method="post" class="create-form">
        <div class="control-form">
            <label>Nombre del producto</label>
            <input type="text" name="Nombreproducto">
        </div>
        <div class="control-form">
            <label>Ingrese su correo electronico</label>
            <input type="email" name="Emailproducto">
        </div>
        <div class="control-form">
            <label>Ingrese su contraseña</label>
            <input type="password" name="Contraseñaproducto">
        </div>
        <div class="control-form">
            <label>¿Acepta terminos y condiciones?</label>
            <input type="radio" name="Terminosycondiciones">
        </div>
        <div class="control-form">
            <label>Genero</label>
            <select name="categoria">
                <option value="masculino">Masculino</option>
                <option value="femenino">Femenino</option>
                <option value="otro">Otro</option>
            </select>
        </div>
        <div class="control-form">
            <label>Deje sus comentarios:</label>
            <textarea name="comentarios" placeholder="¿Tiene alguna sugerencia? Escribala aqui"></textarea>
        </div>
        <button type="reset">Borrar</button>
        <button type="submit">Enviar</button>

    </form>

    <section class="banner">
        <img src="/images/img-home-banner.jpg" alt="">
    </section>

    <main>
        <section>
            <header>
                <h2 class="titulares">Basado en tu última visita</h2>
            </header>
            <div class="productos">
                <article>
                    <div class="fa-truck-camion">
                        <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                        <div class="camion">
                        <div class="descripcion">
                            <i class="fa-solid fa-truck-fast"></i>
                        </div>
                            <div class="producto-contenedor">
                                <p class="precios">$6.770 </p>
                                <p class="descuentos"> 40% Off</p>
                            </div>
                            <b class="descripciones">Cafetera Moulinex</b>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="macbook">
                    <div class="descripcion">
                        <div class="camion">
                            <i class="fa-solid fa-truck-fast"></i>
                        </div>
                        <div class="producto-contenedor">
                            <p class="precios">$230.000 </p>
                            <p class="descuentos"> 20% Off</p>
                        </div>
                        <b class="descripciones">MacBook Pro 2019</b>
                    </div>
                </article>
                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung-s10">
                    <div class="descripcion">
                        <div class="camion">
                            <i class="fa-solid fa-truck-fast"></i>
                        </div>
                        <div class="producto-contenedor">
                            <p class="precios">$70.500 </p>
                            <p class="descuentos"> 10% Off</p>
                        </div>
                        <b class="descripciones">Samsung Galaxy S10</b>
                    </div>
                </article>
                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="">
                    <div class="descripcion">
                        <div class="camion">
                            <i class="fa-solid fa-truck-fast"></i>
                        </div>
                        <div class="producto-contenedor">
                            <p class="precios">$23.200 </p>
                            <p class="descuentos"> 5% Off</p>
                        </div>
                        <b class="descripciones">SmartTv Samsung 43"</b>
                    </div>
                </article>
            </div>
        </section>

    </main>
    <br>
    <footer class="articulos">
        <i class="fa-regular fa-credit-card"></i>
        <h4> Paga con tarjeta o en efectivo </h4>
        <p class="p">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        <br>
        <i class="fa-solid fa-gift"></i>
        <h4> Envío gratis desde $ 2.500 </h4>
        <p class="p">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        <br>
        <i class="fa-solid fa-user-shield"></i>
        <h4> Seguridad, de principio a fin </h4>
        <p class="p">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        <br>
        <p class="copyright"> Copyright © 1999-2020 MercadoLiebre S.R.L. </p>




        <a href="https://www.google.com">Ir a Google</a>
    </footer>


</body>

</html>