<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MI PRIMER DOCUMENTO EN HTML</title>
</head>
<body>
    <header>
    <img src="/images/logo-mercado-liebre.svg" width="375" alt="logo">

    <h3>Lugar para poner la barra de busqueda</h3>

    <p>Comprá en cuotas y sin tarjeta de crédito</p>

    <ul>
        <li>Ofertas</li>
        <li>Tiendas Oficiales</li>
        <li>Vender</li>
        <li>Ayuda</li>
        <li>Creá tu cuenta</li>
        <li>Ingresá</li>
        <li>Mis compras</li>
    </ul>

    </header>

    <main>
        <center><h3>Basado en tu última visita</h3></center>
        <img src="/images/img-cafetera-moulinex.jpg" width="375" height="350" alt="" >
        <h3>$6.770 </h3>
        <p> 40% OFF</p>
        <h3>Cafetera Moulinex</h3>

        <img src="/images/img-macbook-pro-2019.jpg" width="375" height="350" alt="" >
        <h3>$230.000 </h3>
        <p> 20% OFF</p>
        <h3>MacBook Pro 2019</h3>

        <img src="/images/img-samsung-galaxy-s10.jpg" width="375" height="350" alt="" >
        <h3>$70.500 </h3>
        <p> 10% OFF</p>
        <h3>Samsung Galaxy S10</h3>

        <img src="/images/img-tv-samsung-smart.jpg" width="375" height="350" alt="" >
        <h3>$23.200 </h3>
        <p> 5% OFF</p>
        <h3>SmartTv Samsung 43"</h3>

    </main>

    <footer>
       <center><section> <h4> Paga con tarjeta o en efectivo </h4></section></center>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>

        <center><section> <h4> Envío gratis desde $ 2.500 </h4></section></center>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>

        <center><section> <h4> Seguridad, de principio a fin </h4></section></center>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>

        <section> <h4> Copyright © 1999-2020 MercadoLiebre S.R.L. </h4></section>
                    


        
    <a href="https://www.google.com">Ir a Google</a>
    </footer>


</body>
</html>