* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ebebeb;
    font-family: "Lato", sans-serif;
    font-family: "Roboto", sans-serif;
}


.logo {
    width: 200px;
}

.copy-header {
    font-weight: 400;
    text-align: center;
}

.create-form {
    padding: 20px 15px;
}

.control-form {
    margin-bottom: 15px;
}

.control-form label {
    margin-bottom: 5px;
    display: block;
}

.burger-menu {
    text-align: center;
    background-color: #1259c3;
    border-radius: 8px;
    display: block;
    max-width: 50px;
    font-size: 18px;
    color: #fff;
    margin: auto;
    padding: 15px 0;
}

.main-header {
    background-color: #EAC926;
    padding: 20px;
}

.main-navbar {
    display: none;
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.main-navbar a { 
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 18px;
}

.barra-de-busqueda {
    text-align: center;
    display: none;
}

.banner img {
    width: 100vw;
    object-fit: contain;
}

.p {
    font-size: 12px;
}

.titulares {
    font-size: 24px;
}

section .productos>article>img {
    width: 100%;
    object-fit: cover;
}

.producto-contenedor {
    display: table;
    width: 100%;
}

.precios {
    display: table-cell;
    width: 30%;
    font-size: 18px;
}

.descuentos {
    display: table-cell;
    width: 70%;
    color: #39b54a;
    font-size: 16px;
}

.descripciones {
    font-size: 16px;
    margin-top: 20px;
}

.articulos {
    text-align: center;
}

.copyright {
    text-align: left;
    opacity: 0, 3;
    font-size: 12px;

}


footer {
    text-align: center;
    margin-top: 8px;
}

footer i.fa-solid,
footer i.fa-regular {
    color: #1259c3;
    font-size: 20px;
}

main {
    margin: auto;
    width: 90vw;
}

article div.camion {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    color: #39b54a;
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
    right: 20px;
}

.fa-truck-camion {
    /*position: relative;*/

}

article div.camion i {
    margin-top: 10%;
}


.descripcion {
    align-items: center;
    background-color: white;
    border-top: 1px solid #ebebeb;
    padding: 15px;
    list-style: none;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 10px;
    color: #666;
}

article {
    margin-bottom: 10px;
}

/*Smartphones*/
@media (min-width: 361px) {}


/*Tablets*/
@media (min-width: 769px) {
    .main-header-top-bar {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        display: flex;
        justify-content: space-between;
    }
    .copy-header {
        max-width: 350px;
        text-align: right;
    }
    .burger-menu {
        display: none;
    }
    .main-navbar {
        display: flex;
        justify-content: space-between;
        gap: 16px;
        margin-top: 15px;
    }
    .main-navbar ul {
        display: flex;
    }
    .main-navbar li {
        margin: 0 5px;
    }
    .barra-de-busqueda {
        display: flex;
    }
}

/*Desktop*/
@media (min-width: 1200px) {
    .main-header-top-bar, .main-navbar {
        max-width: 1200px;
        margin: auto;
    }
    .main-navbar {
        gap: 16px;
        margin-top: 15px;
    }
}